<%- include("header", {}) %>
    <div class="container mt-4">
        <div class="text-center mb-4">
            <header>
                <h2>¡Aquí te mostramos todos los datos de tus perros!</h2>
            </header>
        </div>
        <!-- Own Dog Section -->
        <!-- Lost Dog Section -->
        <section id="team" class="team section">
            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <div class="section-title-container d-flex align-items-center justify-content-between">
                    <h2>Mis perros perdidos</h2>
                </div>
            </div><!-- End Section Title -->
            <% const myDogs=dogs.filter(dog=> dog.is_lost === 0);
                if (myDogs.length > 0) {
                %>
                <% myDogs.forEach(dog=> { %>
                    <div class="container">
                        <div class="row gy-4">
                            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                                <div class="team-member d-flex align-items-start">
                                    <% if (dog.photo_dog_perdido) { %>
                                        <div class="pic"><img src="<%= dog.photo_dog_perdido %>" class="img-fluid" alt=""></div>
                                        <% } %>
                                            <div class="member-info">
                                                <h4>
                                                    <%= dog.name %>
                                                </h4>
                                                <span>Chief Data Officer</span>
                                                <p><strong>Edad:</strong>
                                                    <%= dog.age %> años
                                                </p>
                                                <p><strong>Peso:</strong>
                                                    <%= dog.weight %> kg
                                                </p>
                                                <p><strong>Sexo:</strong>
                                                    <%= dog.sex %>
                                                </p>
                                                <p><strong>Raza:</strong>
                                                    <%= dog.breed %>
                                                </p>
                                            </div>
                                </div>
                            </div><!-- End Team Member -->
                        </div>
                    </div>
                    <% }) %>
                        <% } else { %>
                            <div class="text-center">
                                <p>No se encontraron perros asociados este usuario.</p>
                            </div>
                            <% } %>
        </section>

        <!-- Lost Dog Section -->
        <section id="team" class="team section">
            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <div class="section-title-container d-flex align-items-center justify-content-between">
                    <h2>Mis perros perdidos</h2>
                </div>
            </div><!-- End Section Title -->
            <% const lostDogs=dogs.filter(dog=> dog.is_lost === 1);
                if (lostDogs.length > 0) {
                %>
                <% lostDogs.forEach(dog=> { %>
                    <div class="container">
                        <div class="row gy-4">
                            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                                <div class="team-member d-flex align-items-start">
                                    <% if (dog.photo_dog_perdido) { %>
                                        <div class="pic"><img src="<%= dog.photo_dog_perdido %>" class="img-fluid" alt=""></div>
                                        <% } %>
                                            <div class="member-info">
                                                <h4>
                                                    <%= dog.name %>
                                                </h4>
                                                <span>Chief Data Officer</span>
                                                <p><strong>Edad:</strong>
                                                    <%= dog.age %> años
                                                </p>
                                                <p><strong>Peso:</strong>
                                                    <%= dog.weight %> kg
                                                </p>
                                                <p><strong>Sexo:</strong>
                                                    <%= dog.sex %>
                                                </p>
                                                <p><strong>Raza:</strong>
                                                    <%= dog.breed %>
                                                </p>
                                            </div>
                                </div>
                            </div><!-- End Team Member -->
                        </div>
                    </div>
                    <% }) %>
                        <% } else { %>
                            <div class="text-center">
                                <p>No se encontraron perros perdidos registrados para este usuario.</p>
                            </div>
                            <% } %>
        </section>
        <div class="text-center mt-4">
            <p>¿Deseas añadir o editar la información de tus perros?</p>
            <a href="/edit_dog_profile" class="btn btn-primary">Añadir o Editar Perro</a>
        </div>
    </div>
    <%- include("footer", {}) %>