<%- include("header", {}) %>

<div class="page-title">
    <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Foro de perros perdidos</h1>
    </div>
</div><!-- End Page Title -->

<div class="container mt-5">
    <div class="row">
        <!-- Feed de perros perdidos -->
        <div class="col-lg-8">
            <div class="row g-4">
                <% if (lost_dogs && lost_dogs.length > 0) { %>
                    <% lost_dogs.forEach(dog => { %>
                        <div class="col-md-6">
                            <div class="card">
                                <img src="<%= dog.photo_dog_perdido || '/img/ej_perro_perdido.jpg' %>" class="card-img-top img-fluid" alt="Imagen del perro perdido">
                                <div class="card-body">
                                    <h5 class="card-title"><%= dog.name %></h5>
                                    <p class="card-text"><strong>Raza:</strong> <%= dog.breed %></p>
                                    <p class="card-text"><strong>Edad:</strong> <%= dog.age %> años</p>
                                    <p class="card-text"><strong>Peso:</strong> <%= dog.weight %> kg</p>
                                    <p class="card-text"><strong>Sexo:</strong> <%= dog.sex %></p>
                                    <p class="card-text"><strong>Última vez visto:</strong> <%= dog.last_seen || 'Lugar desconocido' %></p>
                                    <button type="button" class="btn btn-success w-100 mt-2" data-bs-toggle="modal" data-bs-target="#reportModal" data-perro-id="<%= dog.id %>">¡Creo que he encontrado a tu perro!</button>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                <% } else { %>
                    <p>No hay perros perdidos en este momento.</p>
                <% } %>
            </div>
        </div>

        <!-- Formulario para añadir perros perdidos -->
        <div class="col-lg-4">
            <% if (user) { %>
                <h3>Añadir un perro perdido</h3>
                <form action="/add-lost-dog" method="POST" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="name" class="form-label">Nombre del perro</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="breed" class="form-label">Raza</label>
                        <!--<input type="text" class="form-control" id="breed" name="breed" required>-->
                        <select class="form-control" id="breed" name="breed" required>
                            <option value="" disabled selected>Selecciona una raza</option>
                            <option value="Labrador Retriever">Labrador Retriever</option>
                            <option value="Golden Retriever">Golden Retriever</option>
                            <option value="Bulldog">Bulldog</option>
                            <option value="Poodle">Poodle</option>
                            <option value="Pastor Alemán">Pastor Alemán</option>
                            <option value="Beagle">Beagle</option>
                            <option value="Rottweiler">Rottweiler</option>
                            <option value="Yorkshire Terrier">Yorkshire Terrier</option>
                            <option value="Dachshund">Dachshund</option>
                            <option value="Boxer">Boxer</option>
                            <option value="Husky Siberiano">Husky Siberiano</option>
                            <option value="Chihuahua">Chihuahua</option>
                            <option value="Doberman">Doberman</option>
                            <option value="Shih Tzu">Shih Tzu</option>
                            <option value="Cocker Spaniel">Cocker Spaniel</option>
                            <option value="Pomerania">Pomerania</option>
                            <option value="Border Collie">Border Collie</option>
                            <option value="Dálmata">Dálmata</option>
                            <option value="Boston Terrier">Boston Terrier</option>
                            <option value="Gran Danés">Gran Danés</option>
                            <option value="Akita">Akita</option>
                            <option value="Alaskan Malamute">Alaskan Malamute</option>
                            <option value="American Staffordshire Terrier">American Staffordshire Terrier</option>
                            <option value="Basset Hound">Basset Hound</option>
                            <option value="Bloodhound">Bloodhound</option>
                            <option value="Bichón Frisé">Bichón Frisé</option>
                            <option value="Borzoi">Borzoi</option>
                            <option value="Bull Terrier">Bull Terrier</option>
                            <option value="Cane Corso">Cane Corso</option>
                            <option value="Cavalier King Charles Spaniel">Cavalier King Charles Spaniel</option>
                            <option value="Chow Chow">Chow Chow</option>
                            <option value="Dogo Argentino">Dogo Argentino</option>
                            <option value="Dogo de Burdeos">Dogo de Burdeos</option>
                            <option value="Fox Terrier">Fox Terrier</option>
                            <option value="Galgo Español">Galgo Español</option>
                            <option value="Jack Russell Terrier">Jack Russell Terrier</option>
                            <option value="Mastín Español">Mastín Español</option>
                            <option value="Mastín Napolitano">Mastín Napolitano</option>
                            <option value="Perro de Agua Español">Perro de Agua Español</option>
                            <option value="Samoyedo">Samoyedo</option>
                            <option value="San Bernardo">San Bernardo</option>
                            <option value="Shiba Inu">Shiba Inu</option>
                            <option value="Springer Spaniel">Springer Spaniel</option>
                            <option value="Staffordshire Bull Terrier">Staffordshire Bull Terrier</option>
                            <option value="Terranova">Terranova</option>
                            <option value="Whippet">Whippet</option>
                            <option value="West Highland White Terrier">West Highland White Terrier</option>
                            <option value="Otro">Otro</option>
        
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="age" class="form-label">Edad</label>
                        <input type="number" class="form-control" id="age" name="age" required min="1" max="162">
                    </div>
                    <div class="mb-3">
                        <label for="weight" class="form-label">Peso</label>
                        <input type="number" class="form-control" id="weight" name="weight" required min="1" max="162">
                    </div>
                    <div class="mb-3">
                        <label for="sex" class="form-label">Sexo</label>
                        <select class="form-control" id="sex" name="sex" required>
                            <option value="Macho">Macho</option>
                            <option value="Hembra">Hembra</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="last_seen" class="form-label">Última vez visto</label>
                        <input type="text" class="form-control" id="last_seen" name="last_seen" required>
                    </div>
                    <div class="mb-3">
                        <label for="photo" class="form-label">Foto del perro</label>
                        <input type="file" class="form-control" id="photo" name="photo">
                    </div>
                    <button type="submit" class="btn btn-primary">Añadir perro perdido</button>
                </form>
            <% } else { %>
                <h5><p>Debes <strong><a href="/login">iniciar sesión</a></strong> para añadir un perro perdido.</p></h5>
            <% } %>
        </div>
    </div>
</div>

<%- include("footer", {}) %>