<%- include("header", {}) %>

    <div>
        <h1>Feed de dogss Perdidos</h1>
        <% if (dogss.length > 0) { %>
            <ul>
                <% dogss.forEach(dogs => { %>
                    <li>
                        <h2><%= dogs.nombredogs %> (<%= dogs.raza %>)</h2>
                        <p><strong>Edad:</strong> <%= dogs.edaddogs %></p>
                        <p><strong>Peso:</strong> <%= dogs.pesodogs %> kg</p>
                        <p><strong>Sexo:</strong> <%= dogs.sexo %></p>
                        <p><strong>Dueño:</strong> <%= dogs.dueno || 'No registrado' %></p>
                    </li>
                <% }); %>
            </ul>
        <% } else { %>
            <p>No hay dogss perdidos registrados en este momento.</p>
        <% } %>
    </div>

<%- include("footer", {}) %>