<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dogmmunity - Inicio</title>
    <link rel="icon" type="img/jpeg" href="../img/logo_1.jpeg">
    <link rel="stylesheet" href="../css/styless.css">
    <script src="<%= script %>"></script>
</head>

<body>

    <!-- Menú de navegación -->
    <div class="navbar">
        <!-- Opciones del lado izquierdo -->
        <nav>
            <a href="<%= navbar_addr1 %>"><%= navbar_item1 %></a>
            <a href="<%= navbar_addr2 %>"><%= navbar_item2 %></a>
            <a href="<%= navbar_addr3 %>"><%= navbar_item3 %></a>
        </nav>
    </div>