<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dogmmunity - Tu perro</title>
    <link rel="stylesheet" href="../css/styless.css">
    <link rel="icon" type="img/jpeg" href="../img/logo_1.jpeg">
</head>
<body>
    <div class="navbar">
        <!-- Opciones del lado izquierdo -->
        <nav>
            <a href="/">Inicio</a>
            <a href="/perfil">Perfil</a>
            <a href="/perfil_perro">Tu perro</a>
        </nav>
    </div>
    <div>
        <header>
            <h2>¡Aquí te mostramos todos los datos de tu perro!</h2>
        </header>
    </div>

    <div class="infoPerro" id="infoPperro">
        <p><strong>Nombre:</strong>
            <%= perro.nombrePerro %>
        </p>
        <p><strong>Edad:</strong>
            <%= perro.edadPerro %>
        </p>
        <p><strong>Peso:</strong>
            <%= perro.pesoPerro %> kg
        </p>
        <p><strong>Sexo:</strong>
            <%= perro.sexo %>
        </p>
        <p><strong>Raza:</strong>
            <%= perro.raza %>
        </p>
        <p><strong>Dueño:</strong>
            <%= perro.dueno %>
        </p>
    </div>

    <div><p>¿Deseas realizar algún cambio en los datos de tu perro?</p></div>
    <button class="botonesGuardarPerfil" type="submit">Editar perro</button>
</body>
</html>