<%- include("header", {}) %>

<div class="container mt-5 text-center">
    <img class="img-fluid rounded-circle mb-4" src="<%= profile_photo %>" alt="Imagen de perfil" width="255"
        height="263">

    <header>
        <h1 id="welcome-message" class="mb-3">¡Bienvenido, <%= user.username %>!</h1>
        <h3 class="mb-4">¿Qué quieres hacer?</h3>
    </header>

    <p class="mb-4">Correo electrónico: <%= user.email %></p>

    <form>
        <!-- Botón de editar perfil -->
        <button type="button" class="btn btn-primary mb-3 w-50" id="cambiarContraseña" name="cambiarContraseña"
            onclick="window.location.href='/edit_user_profile';">Cambiar contraseña</button>
        <br>
        <!-- Botón para modificar foto de perfil -->
        <button type="button" class="btn btn-secondary mb-3 w-50" id="modificarFoto" name="modificarFoto"
            onclick="window.location.href='/edit_user_photo';">Modificar foto de perfil</button>
        
        <!-- Botón de eliminar cuenta -->
        <button type="button" class="btn btn-danger mb-3 w-50" id="deleteAccountButton">Eliminar cuenta</button>
</form>
</div>

<script>
    // Capturar el evento del botón
    document.getElementById("deleteAccountButton").addEventListener("click", function () {
        if (confirm("¿Estás seguro de que quieres eliminar tu cuenta? Perderás a todos tus perros. Esta acción no se puede deshacer.")) {
            fetch("/profile", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                }
            }).then(response => {
                if (response.ok) {
                    alert("Cuenta eliminada con éxito.");
                    window.location.href = "/";
                } else {
                    alert("Hubo un error al eliminar la cuenta.");
                }
            }).catch(error => {
                console.error("Error al eliminar la cuenta:", error);
                alert("Hubo un error al procesar la solicitud.");
            });
        }
    });
</script>

<%- include("footer", {}) %>
