<%- include("header", {}) %>

<div class="container mt-5 text-center">
    <img class="img-fluid rounded-circle mb-4" src="<%= profile_photo %>" alt="Imagen de perfil" width="255"
        height="263">

    <header>
        <h1 id="welcome-message" class="mb-3">¡Bienvenido, <%= user.username %>!</h1>
        <h3 class="mb-4">¿Qué quieres hacer?</h3>
    </header>

    <p class="mb-4">Correo electrónico: <%= user.email %></p>
    <form>
        <!-- Botón de editar perfil -->
        <button type="button" class="btn btn-primary mb-3 w-100" id="cambiarContraseña" name="cambiarContraseña"
            onclick="window.location.href='/edit_user_profile';">Cambiar contraseña</button>

        <!-- Botón para modificar foto de perfil -->
        <button type="button" class="btn btn-secondary mb-3 w-100" id="modificarFoto" name="modificarFoto"
            onclick="window.location.href='/edit_user_photo';">Modificar foto de perfil</button>

        <!-- Botón de añadir perro 
        <button type="button" class="btn btn-success mb-3 w-100" id="añadirPerro" name="añadirPerro"
            onclick="window.location.href='/edit_dog_profile';">Añadir perro</button> -->

        <!-- Botón de cerrar sesión 
        <button type="button" class="btn btn-danger w-100" id="logout-btn" name="logout"
            onclick="window.location.href='/logout';">Cerrar sesión</button> -->
    </form>
</div>

<%- include("footer", {}) %>
