<%- include("header", {}) %>


<% if (!user.first_name || user.first_name === 'N/A' || !user.last_name || user.last_name === 'N/A' || !user.phone_number || user.phone_number === '000-000-0000') { %>
    <!-- cambiar el nombre -->
<div class="container mt-5">
    <h2 class="text-center mb-4">Completa tu información del perfil</h2>
    <form action="/user_info" method="post">

    <div class="mb-4">
        <form id="formularioNombre" class="form-label" >
            <div class="mb-3">
                <label for="nuevoNombre" class="form-label">Introduzca su nombre</label>   
                <input type="text" class="form-control" id="nuevoNombre" name="first_name" required>
            </div>
    
        <!--cambiar el apellido --> 
            <div class="mb-3">
                <label for="nuevoApellido" class="form-label">Introduzca su apellido</label>
                <input type="text" class="form-control" id="nuevoApellido" name="last_name">
            </div>
    
        <!-- cambiar el nºtelf -->
            <div class="mb-3">
                <label for="nuevoCorreo" class="form-label">Introduzca su número de teléfono</label>
                <input type="phone" id="nuevoPhone" class="form-control" name="phone_number">
            </div>
            <button class="btn btn-primary" type="submit">Guardar cambios</button>
        </form>
    </div>
</div>
<% } else { %>
<div> 
    <p>Nombre: <%= user.first_name %></p>
    <p>Apellido: <%= user.last_name %></p>
    <p>Correo: <%= user.email %></p>
    <p>Nº de teléfono: <%= user.phone_number %></p>
</div>
<% } %>

<%- include("footer", {}) %>